.chat-box {
  background-color: white;
  width: 20vw;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #d3d1d1;
  padding: 20px;
  right: 7rem;
  margin-top: 291px;
  position: fixed;
}

.list-group-item {
  margin-bottom: 10px;
}

