.container-home {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 2vw;
    color: #696969;
  }
  
  .profile-informations {
    display: flex;
    flex-direction: column;
    width: 20vw;
    background-color: #dedede;
    padding: 10px;
    align-content: center;
    text-align: center;
    margin-left: 10px;
    border-top: 1px solid #696969;
    border-radius: 10px;
  }
  
  .user-photo {
    box-shadow: 1px 1px 5px #dedede;
    display: flex;
    width: 100%;
  }
  
  .user-name {
    justify-content: center;
    font-size: 2vw;
    color: #696969;
    display: flex;
    width: 100%;
  }
  
  .informations {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .feed-news {
    background-color: #f5f5f5;
    /* display: flex; */
    width: 60vw;
    margin: 0 15px 0 15px;
    justify-content: center;
    border-top: 1px solid #696969;
    border-radius: 10px;
  }
  
  
  .new-topic {
    font-size: 35px;
  }
  
  body {
    background-color: #f5f5f5;
  }
  