h1 {
  font-weight: bolder;

}
h4 {
  margin-left: 0px;
}

.header {
  box-shadow: 1px 1px 2px #d3d1d1;
  border-radius: 5px;
  display: block;
  text-align: center;
  /*background-color: white; */
  background-image: linear-gradient(-225deg, rgba(30,30,30,0.1) 10%, rgba(46,46,46,0.1) 30%),
                    url('back-banners.jpg');
  background-size: cover;
  margin-bottom: 15px;
  margin-top: 15px;
}
.profile-pic {
  padding-bottom: 10px;
  padding-top: 20px;
}
.display-name {
  font-size: 50px;
  font-weight: 700;
  padding-bottom: 5px;
  padding-top: 0;
  margin-bottom: 20px;
}

.content {
  display: flex;
}

.content-block-left {
  flex-direction: column;
  flex-grow: 0;
  flex-basis: 35%;
  margin-top: 0;
  a {
    color: white
  }
}

.follow {
  box-shadow: 1px 1px 2px #d3d1d1;
  margin-bottom: 15px;
  padding: 20px;
  margin: 15px;
  background-color: white;
  border-radius: 5px;
}
.info {
  box-shadow: 1px 1px 2px #d3d1d1;
  border-radius: 5px;
  padding: 20px;
  margin: 15px;
  background-color: white;
}
.middle-col {
flex-grow: 1;
flex-direction: column;
padding: 20px;
margin-top: 0;
}
.li {

  padding-bottom: 10px;
  
}
ul.items {
  list-style-type: none;
  margin-top: 20px;
}
.posts {
  box-shadow: 1px 1px 2px #d3d1d1;
  border-radius: 5px;
}
.container-post {
  display: flex;
  align-items: space-between;
  border-radius: 5px;
  background-color: white;
  box-shadow: 1px 1px 2px #d3d1d1;
  margin-bottom: 20px;
}
.pic-post {
  margin-left: 5px;
  margin-right: 0px;
  padding: 5px;
}
.post-create {
  /* border: solid;
  background-color: white; */
  margin: 10px;
  margin-left: 3px;
  padding-top: 7px;
  border-radius: 40px;
  background: #f4f4f4;
  a {
    color: gray;
    padding-left: 10px;

  }
}
.post-list {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  box-shadow: 1px 1px 2px #d3d1d1;
  margin-top: -5px;
}
.follow-count {
  padding: 4px;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
}

