<!-- página para criar novo tópico -->
<div class="container">
  <h1>New Topic</h1>

  <%= simple_form_for @topic, remote: true do |f| %>
  <%= f.input :title %>
  <%= f.input :content %>
  <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>
