<div class="container">
  <h5>Quem me segue</h5>
  <div class="followings">
    <% followers.each do |follower| %>
    <div class="following-card">
      <div class="following-pic">
        <%= cl_image_tag follower.photo.key, height: '50px', class: 'avatar' %>
      </div>
      <div class="following-name">
        <%= follower.first_name %>
      </div>
    </div>
    <% end %>
  </div>
</div>
