<div class="container">
  <h4>Quem me segue</h4>
  <div class="followings">
    <% followers.each do |follower| %>
    <div class="following-card">
      <div class="following-pic">
        <%= link_to page_path(follower) do%>
          <%= cl_image_tag follower.photo.key, height: '50px', class: 'avatar' %>
      </div>
      <div class="following-name">
      </div>
      <% end  %>
    </div>
    <% end %>
  </div>
</div>
