<div class="footer">
  <div class="footer-links slogan">
    <a href="https://www.who.int/" target="_blank" class="slogan" ><i class="fas fa-globe"></i></a>
    <p>Acesse Organização Mundial de Saúde</p>
  </div>
  <div class="slogan">

  </div>
  <div class="footer-copyright">
    <p> R@ros! </p>
  </div>
</div>
