<div class="container">
  <div class="photo">
    <%= cl_image_tag user.photo.key, class: 'avatar' %>
  </div>
  <div class="name">
    <%= user.first_name %>
    <%= user.last_name %>
  </div>
  <div class="disease">
    <%= user.disease.name %>
  </div>
</div>
