<div class="container">
  <%= simple_form_for ([@topic, @post]) do |p| %>
  <%= p.input :content, label: 'Novo Comentário:' %>
  <%= p.button :submit, 'Enviar', class: "btn btn-primary" %>
  <% end %>
</div>
