.more {
  background-color: #f5f5f5;
  width: 20vw;
  // box-shadow: 1px 1px 5px #696969;
  justify-content: center;
  text-align: center;
  margin-right: 20px;
  border-radius: 10px;
  border-top: 1px solid #696969;
}

.followings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid #696969;
  border-radius: 10px;

}

.following-pic {
  padding: 0;
}

.following-card {
  display: flex;
  flex-direction: column;
}

.following-name {
  color: #696969;
  text-decoration: none;
}
