h5 {
  margin-top: 20px;
}

.more {
  width: 20vw;
  display: block;
  margin-right: 20px;
  border-radius: 5px;
}
.follows {
  background-color: white;
  width: 20vw;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #d3d1d1;
  position: fixed;
  right: 7rem;
  top: calc(60px + 2vw);
}

#title1-right-box {
  margin-left: auto;
  margin-top: -4rem;
}

#title2-right-box {
margin-left: auto;
border-top: 1px solid #696969;
margin-top: -2rem;
}


.followings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 0px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.following-pic {
  padding: 0;
}

.following-card {
  display: flex;
  flex-direction: column;
}

.following-name {
  color: #696969;
  text-decoration: none;
}


