.more {
  background-color: white;
  width: 20vw;
  justify-content: center;
  text-align: center;
  margin-right: 6rem;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #d3d1d1;
  position: fixed;
  right: 0;
}

.followings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid #696969;
}

.following-pic {
  padding: 0;
}

.following-card {
  display: flex;
  flex-direction: column;
}

.following-name {
  color: #696969;
  text-decoration: none;
}


