h5 {
  margin-top: 20px;
}

.more {
  /* background-color: white; */
  width: 20vw;
  display: block;
  margin-right: 20px;
  border-radius: 5px;
}
.follows {
  background-color: white;
  width: 20vw;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #d3d1d1;
}

.followings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.following-pic {
  padding: 0;
}

.following-card {
  display: flex;
  flex-direction: column;
}

.following-name {
  color: #696969;
  text-decoration: none;
}


