.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.avatar-intermediate {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.avatar-xlarge {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: solid #ffffff 4px;
  display: flex;
  margin-left: 17px;
  background-size: 100% 100%;
}

.avatar-x {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: 40%;
  display: flex;
  background-size: 100% 100%;
}

.avatar-bordered {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 1px 1px 3px #283618;

}
.avatar-square {
  width: 40px;
  height: 40px;
  border-radius: 0px;
  box-shadow: 1px 1px 3px #283618;

}

