.new-topic-navbar {
  display: flex;
  width: 95%;
  height: 50px;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
  border-radius: 10px;
  border-bottom: 3px solid #696969;
}

