.new-topic-navbar {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0px;
  box-shadow: 1px 1px 2px #d3d1d1;
  padding: 15px;
  background-color: white;
  border-radius: 5px;
}

