.container-followers {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
}

.followers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  width: 50%;
  margin-left: 40px;
  padding: 10px;
}

.mini-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.follower-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #d3d1d1;
  padding: 10px;
}


.pic {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 2px;
}

.followers-count {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full-name {
  align-self: center;
  flex-wrap: nowrap;
}

.title-followers {
  grid-column-start: 1;
  grid-column-end: 4;
}

.following-pic {
  margin-top: 10px;
}
