.container-home {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 5.4rem;
  color: #696969;
}

.profile-informations {
  display: flex;
  flex-direction: column;
  width: 20vw;
  background-color: white;
  padding: 10px;
  align-content: center;
  text-align: center;
  margin-left: 10px;
  box-shadow: 1px 1px 2px #d3d1d1;
  border-radius: 5px;
  position: fixed;
  top: calc(60px + 2vw);
  margin-bottom: 20px;
}

.user-photo {
  display: flex;

  border-radius: 5px;
  height: 50%;
  background-size: cover;
}


.user-name {
  justify-content: center;
  font-size: 2vw;
  /* color: #696969; */
  display: flex;
  width: 100%;
}

.informations {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

.feed-news {
  background-color: #f5f5f5;
  display: flex;
  width: 60%;
  margin: 0 15px 0 15px;
  flex-direction: column;
  margin-left: 22vw;
  margin-right: 22vw;
}


.new-topic {
  font-size: 35px;

}

body {
  background-color: #f5f5f5;
}

