.container-home {
  background-color: #DCEAF3;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 5.4rem;
}

.profile-informations {
  display: flex;
  flex-direction: column;
  width: 20vw;
  background-color: white;
  padding: 10px;
  align-content: center;
  margin-left: 10px;
  box-shadow: 1px 1px 2px #d3d1d1;
  border-radius: 5px;
  position: fixed;
  top: calc(60px + 2vw);
  margin-bottom: 20px;
}

.background-image-card {
  width: 20vw;
  height: 8vw;
  margin-left: -10px;
  margin-bottom: -45px;
  border-radius: 5px 5px 0 0;
  position: relative;
  top: -10px;
  z-index: -1;
}

.user-photo {
  display: flex;
  border-radius: 5px;
  height: 50%;
  background-size: cover;
}
.user-name {
    p {
      font-size: 25px;
      font-weight: 600;
      text-align: center;

    }
}
.info-user-line-age {
  padding-left: 36px;
  text-align: left;
}

.info-user-line-disease {
  padding-left: 35px;
  text-align: left;
}

.feed-news {
  background-color: #DCEAF3;
  display: flex;
  width: 60%;
  margin: 0 15px 0 15px;
  flex-direction: column;
  margin-left: 22vw;
  margin-right: 6vw;
}

.new-topic {
  font-size: 35px;

}

body {
  background-color: #DCEAF3;
}

