// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "signin";
@import "home";
@import "signup";
@import "aside";
@import "feed-navbar";
@import "topics";
@import "footer";
@import "card-search";
@import "search";
@import "followers";
@import "chat_index";

/*  */

a {
color: rgb(71, 68, 68);
font-weight: 400;
  &:hover {
    text-decoration: none;
    color: rgb(71, 68, 68);
    font-weight: 500;
  }
}

