// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "signin";
@import "home";
@import "signup";
@import "aside";
@import "feed-navbar";
@import "topics";
@import "footer";
@import "card-search";

// New style pages

a {
  color: #323064;

  &:hover {
    text-decoration: none;
  }
}
