// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "signin";
@import "home";
@import "signup";
@import "aside";
@import "feed-navbar";
@import "topics";
@import "footer";
@import "card-search";
@import "search";


a:hover {
    text-decoration: none;
}

a {
  color: rgb(71, 68, 68);
    &:hover {
      text-decoration: none;
      color: rgb(71, 68, 68);
    }
}
