.navbar-lewagon {
  justify-content: space-between;
  background: #f5f5f5;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 2;
  margin-bottom: 2vw;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  background-color:white;
}

.navbar {
  background-color: white;
  box-shadow: 0 1px 3px #1E2D3F;
  height: 60px;
}

.search-space {
  display: flex;
  width: 80%;
  margin-left: 0;
  padding: 0;
}

.button-search {
  display: flex;
  width: 20%;
}

.logo {
  display: flex;
  align-items: center;
  background-color: white;
}

.logo h1{
 font-family: 'Black Han Sans', sans-serif;
 color: #1E2D3F;
 font-size: 30px;
}

/* Style the search field */
.form-control[type=text] {
  padding-left: 5px;
  font-size: 12px;
  float: left;
  width: 80%;
  border-radius: 5px;
  border: 0.1rem solid #696969;
}

/* Style the submit button */
.btn-style {
  border: none;
  background-color: white;
}

form.form-control {
  border: none;
  width: 300px;
}

.btn-style:hover {
  opacity: 0.5;
}

/* Clear floats */
form.form-control::after {
  content: "";
  clear: both;
  display: table;
}

.avatar {
  border: 1px solid #fbf1e8;
}
