.search-user-card {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  box-shadow: 1px 1px 5px #dedede;
  border-radius: 5px;
  background-color: white;
  margin-top: 10px;
  padding: 10px;
  align-items: center;
}

.card-search {
  display: flex;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 1px 1px 5px #dedede;
}

.search-first_name {
  display: flex;
}

.search-last_name {
  display: flex;
}

.search-adress {
 display: flex;
}

.follow-search {
  display: flex;
  align-content: flex-end;
  align-self: flex-end;
  flex-direction: row;
}

.image-search {
  display: flex;
  align-self: flex-start;
}

.search-post {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 5px #dedede;
  width: 100%;
  border-radius: 5px;
  background-color: white;
  margin-top: 10px;
  padding: 10px;
}

.search-text {
  display: flex;
  align-self: flex-start;
}

.search-disease-card {
  display: flex;
  border-radius: 5px;
  background-color: white;
  justify-content: space-between;
  box-shadow: 1px 1px 5px #dedede;
  margin-top: 10px;
  padding: 10px;
}

.search-content {
  display: flex;
}

.search-menu-topic {
  display: flex;
  flex-direction: row;
  width: 20%;
  justify-content: space-around;
  align-self: flex-start;
  margin-top: 10px;
}
