.container {
  margin-top: 71px;
}

.topics {
  padding: 0px;
  border-radius: 5px;
  margin-top: 10px;
  margin: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  h1 {
  color: #1E2D3F;
  font-size: 30px;
  }
}

.link-topic {
  color: #1E2D3F;
}

.topic-title {
  color: #1E2D3F;
  font-size: 30px;
}

.card {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 2px #d3d1d1;
}

.icons {
  display: flex;
  justify-content: flex-start;
}

.modal-header {
  widows: 100%;
}

.card-post {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #d3d1d1;
  margin-bottom: 20px;
}

.like-button {
  display: flex;
}

