.topics {
  padding: 0px;
  border-radius: 5px;
  margin-top: 10px;
  margin: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  h1 {

  color: #853131;

}
}

.card {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: none;
  box-shadow: 1px 1px 3px #283618;
}



.icons {
  display: flex;
  justify-content: space-between;

}
